:root {
  --radius: 12px;

  --color-loader: #1a1a1a;
  --color-primary: #b27bf5;

  --padding: 96px;

  @media (max-width: 1720px) {
    --padding: 72px;
  }

  @media (max-width: 1200px) {
    --padding: 40px;
  }

  @media (max-width: 1024px) {
    --padding: 30px;
  }

  @media (max-width: 576px) {
    --padding: 18px;
  }

  @media (max-width: 375px) {
    --padding: 14px;
  }
}