.MovieCastCard {
  position: relative;
  padding-right: 16px;

  p {
    padding-top: 12px;
    text-align: center;
  }
}

.MovieCastCardImg {
  background: var(--color-loader);
  border-radius: 50%;

  width: 180px;
  height: 180px;

  background: var(--color-loader);

  img {
    width: 180px;
    height: 180px;

    border-radius: 50%;
    object-fit: cover;
  }
}