.NotFoundLayout {
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;

  gap: 32px;

  align-items: center;
  justify-content: center;

  a {
    font-size: 64px;
    font-family: var(--font-sf-bold);
  }

  span {
    font-size: 24px;
    text-align: center;
  }
}