.Loader {
  width: 2.5rem;
  height: 2.5rem;

  animation: spinner .8s ease infinite;
}

.Loader circle:first-child {
  stroke: #313136;
}

.Loader circle:last-child {
  stroke: #616161;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(1turn);
  }
}