.CarouselBox {
  display: flex;
  flex-direction: column;

  gap: 24px;
  padding: 24px 12px;
}

.CarouselBox a {
  padding-left: 8px;

  color: #FFFFFF;
  font-size: 30px;
  font-family: var(--font-sf-semibold);
}

.CarouselBoxFeatured a {
  font-size: 64px;
  font-style: italic;

  color: #000000;

  text-transform: uppercase;

  background: linear-gradient(90deg, #6a11cb, #2575fc 100%, #2575fc 0);
  background-size: 200% 200%;

  -webkit-background-clip: text;
  -webkit-text-stroke: 4px transparent;
}