.CarouselViewport {
  overflow: hidden;

  padding-bottom: 40px;
}

.CarouselBox {
  backface-visibility: hidden;
  display: flex;

  touch-action: pan-y pinch-zoom;
}

.CarouselSlide {
  min-width: 0;

  --slide-size: 60%;

  flex: 0 0 var(--slide-size);

  @media(max-width: 920px) {
    --slide-size: 70%;
  }

  @media(max-width: 640px) {
    --slide-size: 80%;
  }

  @media(max-width: 420px) {
    --slide-size: 82%;
  }
}