.Header {
  width: 100%;

  z-index: 16;

  position: sticky;

  top: 0;
  left: 0;

  transition: transform 1s;

  &.fixed {
    transform: translateY(-100%);

    @media (max-width: 1024px) {
      transform: translateX(0%);
    }
  }
}

.HeaderContainer {
  height: 80px;

  display: flex;

  align-items: center;
  justify-content: start;

  gap: 36px;

  padding-left: var(--padding);
  padding-right: var(--padding);

  background: #000000a6;
  backdrop-filter: blur(1px);

  a {
    text-decoration: none;
  }

  p {
    color: #FFFFFF;
    font-size: 18px;
  }
}